<div class="white student-searchbar">
  <%= search_form_for @q, url: students_path do |f| %>
  <div class="row align-items-center">
    <div class="col-4">
      <%= f.label :name_or_email_or_roll_number_cont %>
    </div>
    <div class="col-4">
      <%= f.search_field :name_or_email_or_roll_number_cont, class: "form-control" %>
    </div>
    <div class="col-4">
      <%= f.submit "Search", class: 'btn btn-primary' %>
    </div>
  </div>
  <% end %>
</div>
<div align="center">
  <span class="badge badge-light badge-pill">
    <%= link_to 'Sort By:', '#' %>
  </span>
  <span class="badge badge-light badge-pill">
    <%= sort_link(@q, :name) %>
  </span>
  <span class="badge badge-light badge-pill">
    <%= sort_link(@q, :course) %>
  </span>
  <span class="badge badge-light badge-pill">
    <%= sort_link(@q, :semester) %>
  </span>
</div>
<div class="card-columns">  
  <% @students.each do |student| %>
      <div class="card" style='width: 18rem;'>
        <div class="card-body">
          <h5 class="card-title"><%= student.name_capitalize %><br/><small><%= student.semester_ordinalize %> Semester <%= student.course %><br/>roll_number: <%= student.roll_number %></small></h5>
        </div>
        <ul class="list-group list-group-flush">
          <% student.attempts.order(created_at: :desc).each do |attempt| %>
            <li class="list-group-item">
              Date: <%= attempt.created_at.strftime("%d-%m-%Y") %><br/>
              Exam: <%= attempt.exam_title %><br/>
              Subject: <%= attempt.exam_subject %><br/>
              Status: <%= attempt.status %><br/>
              Total: <%= attempt.total_marks %><br/>
              <% if attempt.evaluated? %>
                Obtained: <%= attempt.marks_obtained %><br/>
              <% end %>
              <%= link_to 'view copy', attempt_path(attempt), class: 'btn btn-danger' %>
            </li>
          <% end %>
        </ul>
      </div>
  <% end %>
</div>
