<div align="center">
	<span class="badge badge-light badge-pill">
	  <%= link_to 'Sort By:', '#' %>
	</span>
	<span class="badge badge-light badge-pill">
		<%= sort_link(@q, :user_name) do %>
		  Student's name
		<% end %>
	</span>
  <span class="badge badge-light badge-pill">
    <%= sort_link(@q, :exam_title) do %>
      Exam Title
    <% end %>
  </span>
</div>
<table class="table table-stripped white">
	<tr>
		<th>Exam Title</th>
		<th>Student's Name</th>
		<th>Student's Email</th>
		<th>Attempted On</th>
		<th>Status</th>
	</tr>
	<% @attempts.each do |attempt| %>
		<tr>
			<td><%= link_to attempt.exam_title, attempt_path(attempt) %></td>
			<td><%= attempt.user.name %></td>
			<td><%= attempt.user.email %></td>
			<td><%= attempt.created_at.strftime("%d-%m-%Y") %></td>
			<td><%= attempt.status %></td>
		</tr>
	<% end %>
</table>
