<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4" align="center"><%= @attempt.exam.title %></h1>
    <p class="lead" align="center"><%= @attempt.user.name %><br/><%= @attempt.status %></p>
  </div>
</div>
<% @attempt.questions.each do |question| %>
	<div class="card">
	  <div class="card-header">
	    <strong><%= question.text %></strong>
	    <span id=<%= "marks_#{question.answer_for_attempt(@attempt).try(:id) }" %> >
			<%= render 'attempts/marks-obtained', answer: question.answer_for_attempt(@attempt) %>
	    </span>
	  </div>
	  <div class="card-body">
	  <div class="row">
	 	 <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
		  	<% if question.objective? %>
		  		<ul class="list-group">
						<ul class="list-group-item">
							1. <%= question.option1 %>
						</ul>
						<ul class="list-group-item">
							2. <%= question.option2 %>
						</ul>
						<ul class="list-group-item">
							3. <%= question.option3 %>
						</ul>
						<ul class="list-group-item">
							4. <%= question.option4 %>
						</ul>
			  	</ul>
		    	<p class="card-text"><strong>Submission: </strong><%= "#{objective_answer_for_pair(question, @attempt)}"%>
	 		    <strong>Correct Choice: </strong><%= "#{question.correct_option}" if question.correct_option %>
		   		</p>
		   	<% else %>
		   		<p class="card-text"><strong>Submission: </strong><%= "#{subjective_answer_for_pair(question, @attempt)}"%>
	  		<% end %>
	   	</div>
	   	<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
	 	    <% if can? :edit, Answer %>
	 		    <% if answer = question.answer_for_attempt(@attempt) %>
	 		    	<%= form_for answer, remote: true do |f| %>
	   		    	<small>*students don't see this</small>
							<div class="form-group">
								<%= f.select :marks, (0..question.marks), {}, class: "form-control" %>
							</div>
							<div class="form-group">
								<%= f.label :remarks %>
								<%= f.text_area :remarks, class: "form-control" %>
							</div>
							<div class="form-group">
								<%= f.submit "Evaluate Answer", class: "btn btn-default" %>
							</div>
		    		<% end %>
		    	<% end %>
	 			<% else %>
    			<strong>Remarks: </strong><br/><%= question.answer_for_attempt(@attempt).try(:remarks) %>
    		<% end %>
			</div>
		 </div>
		</div>
	</div>
<% end %>