<% content_for :search do %> 
    <%= search_form_for @q, class: 'form-inline navbar-search-form' do |f| %>
      <li class="nav-item">
        <%= f.search_field :title_or_subject_cont, class: "form-control", placeholder: "Title/Subject"%>
      </li>
      <li class="nav-item">
        <%= f.submit "Search", class: 'nav-link' %>
      </li>
    <% end %>
<% end %>
<div align="center">
  <span class="badge badge-light badge-pill">
    <%= link_to 'Sort By:', '#' %>
  </span>
  <span class="badge badge-light badge-pill">
    <%= sort_link(@q, :title) %>
  </span>
  <span class="badge badge-light badge-pill">
    <%= sort_link(@q, :subject) %>
  </span>
  <span class="badge badge-light badge-pill">
    <%= sort_link(@q, :duration) %>
  </span>
  <span class="badge badge-light badge-pill">
    <%= sort_link(@q, :start_date) %>
  </span>
  <span class="badge badge-light badge-pill">
    <%= sort_link(@q, :course) %>
  </span>
  <span class="badge badge-light badge-pill">
    <%= sort_link(@q, :semester) %>
  </span>
</div>
<div align="center" class="upcoming-exams">
    <span class="badge badge-light"><strong>Upcoming Exams:</strong></span>
  <% @upcoming_exams.each do |upcoming_exam| %>
    <span class="badge badge-light">
      <%= upcoming_exam.title %>
      (<%= upcoming_exam.start_date.strftime("%d/%m/%Y") %>)
    </span>
  <% end %>
</div>
<div class="card-columns">
<% @exams.each do |exam| %>
	<div class="card" style="width: 18rem;">
	  <div class="card-body">
	    <h5 class="card-title"><%= exam.title %></h5>
	    <h6 class="card-subtitle mb-2 text-muted">
        Subject: <%= exam.subject %><br/>
        course: <%= exam.course %><br/>
        semester: <%= exam.semester %><br/>
        Duration: <%= exam.duration %> minutes<br/>
        Questions: <%= exam.questions.count %><br/>
        attempts: <%= exam.attempts.count %><br/>
        <%= exam_start_date(exam) %></h6>
	    <% if can? :edit, Attempt %>
			 <%= link_to 'View All The Attempts', all_attempts_path(exam), class: 'link-primary' %><br/>
	     <%= link_to 'Edit This Exam', edit_exam_path(exam), class: 'link-primary' %>
      <% else %>
        <%= link_to 'Give The Exam', new_attempt_path(exam), class: 'link-primary' %>
      <% end %>
	  </div>
	</div>
<% end %>
</div>