<div class="white student-searchbar">
  <%= search_form_for @q do |f| %>
  <div class="row align-items-center">
    <div class="col-4">
      <%= f.label :title_or_subject_cont %>
    </div>
    <div class="col-4">
      <%= f.search_field :title_or_subject_cont, class: "form-control" %>
    </div>
    <div class="col-4">
      <%= f.submit "Search", class: 'btn btn-primary' %>
    </div>
  </div>
  <% end %>
</div>
<div align="center">
  <span class="badge badge-light badge-pill">
    <%= link_to 'Sort By:', '#' %>
  </span>
  <span class="badge badge-light badge-pill">
    <%= sort_link(@q, :title) %>
  </span>
  <span class="badge badge-light badge-pill">
    <%= sort_link(@q, :subject) %>
  </span>
  <span class="badge badge-light badge-pill">
    <%= sort_link(@q, :duration) %>
  </span>
</div>
<div class="card-columns">
<% @exams.each do |exam| %>
	<div class="card" style="width: 18rem;">
	  <div class="card-body">
	    <h5 class="card-title">Title: <%= exam.title %></h5>
	    <h6 class="card-subtitle mb-2 text-muted">Subject: <%= exam.subject %><br/>Duration: <%= exam.duration %> minutes<br/>attempts: <%= exam.attempts.count %></h6>
	    <%= link_to 'Give The Exam', new_attempt_path(exam), class: 'card-link' %><br/>
	    <% if can? :edit, Attempt %>
			<%= link_to 'View All The Attempts', all_attempts_path(exam) %>
	    <% end %>
	  </div>
	</div>
<% end %>
</div>