<nav class="sticky-top">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <%= link_to "Home", root_path, class: "nav-link", data: { keybinding: "h" } %>
    </li>
    <li class="nav-item">
      <%= link_to "Registered Students", students_path, class: "nav-link", data: { keybinding: 1 } %>
    </li>
    <% if can? :manage, User %>
      <li class="nav-item">
        <%= link_to 'Unconfirmed Teachers', teachers_path, class: 'nav-link', data: { keybinding: 2 } %>
      </li>
    <% end %>
    <% if can? :read, Exam %>
      <li class="nav-item">
        <%= link_to 'All Exams', exams_path, class: "nav-link", data: { keybinding: 3 } %>
      </li>
    <% end %>
    <% if can? :create, Exam %>
      <li class="nav-item">
        <strong><%= link_to 'Create New Exam', new_exam_path, class: "nav-link", data: { keybinding: 4 } %></strong>
      </li>
    <% end %>
    <%= content_for :search if content_for? :search %>
    <% if current_user %>  
      <li class="nav-item">
        <strong><%= link_to 'Discussions', rooms_path, class: "nav-link", data: { keybinding: 5 } %></strong>
      </li>
    <% end %>
    <% if current_user %>
      <li class="nav-item">
        <%= link_to 'Log Out', destroy_user_session_path, method: :delete, class: 'nav-link' %>
      </li>
    <% end %>
  </ul>
</nav>